
<div ng-controller="NemojController as unos">
	<input class="form-control" placeholder="Name" type="text" ng-model="name" id="name"><br> 
	<input class="form-control" placeholder="Description" type="text" ng-model="desc" id="desc"><br> 
	<input class="form-control" placeholder="Lore" type="text" ng-model="lore" id="lore"><br> 

	<button ng-hide="username == null" class="btn btn-primary" ng-click="unos.send(name, desc , lore)">Submit!</button><br><br>
</div>
